**.direnv/
*/modelsim/*
**/sim_build
**/xcelium.d
*_prove/
**_pycache_*
**/transcript
#**.elf
#**.hex
#**.bin
#**.dump
#**.txt
**.key

**.o
**.s
#**.riscv
**.coe
#**.vmem
**.log
**.history

.vscode

vivado/modelsim.ini
vivado/compiled-libs/*

typescript*

**/.simvision/**
**/*.shm/**

temp/*
